	<br>
	<br>
	<br>

<div class="row">
	<div class="col-md-5">
<!--		<div class="card card-body">-->
			<div class="row">
				<div class="col-md">
                    <h5>{{ cart_request.investor }} </h5>
					<hr>
					<h3> Shopping Cart Request {{ cart_request.id }}</h3>
				</div>
			</div>
			<br>
		<h5>Mines Matched</h5>
		<div class="card card-body">
                    <div class="line_content">
                    {% for mine in mines_matched %}
                        <div class="line-list">
                    		<a class="text-success" href="{% url 'investor/investview/mine/claims.html' pk=mine.id %}"><p>{{ mine }}</p></a>
                        </div>
                    {% endfor %}
                    </div>
		</div>
		<br>
        {% if mines_available %}
		<h5>Mandate Request - Mine List</h5>
		<div class="card card-body">
			{% for match in mines_available %}
				{% if match.minemandate_set.all.last %}
					{% if match.minemandaterelation_set.all.last.status == 'Free' %}
                    <div class="line_content">
                        <div class="line-list">
							<a class="text-success" href="{% url 'investor/investview/mine/claims.html' pk=match.id %}" >{{ match }}</a>
                        </div>
                    </div>
					{% elif match.minemandate_set.all.last == 'Desktop' %}
                    <div class="line_content">
                        <div class="line-list">
							<a class="text-success" href="{% url 'investor/investview/mine/claims.html' pk=match.id %}" >{{ match }}</a>
                        </div>
                    </div>
					{% endif %}
				{% else %}
					<a class="text-success" href="{% url 'investor/investview/mine/claims.html' pk=match.id %}">{{ match }}</a>
				{% endif %}
			{% endfor %}
		</div>
        {% endif %}
	</div>

	<div class="col-md-1">
	{% if cart.date_created %}
		<div class="date">
<!--			<h5>{{ cart.date_created }}</h5>-->
		</div>
	{% endif%}
	</div>
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Information</h5>
			<hr>
			<div class="row">
				<div class="col-md-4">
                    <p>Date Created</p>
                    <p>Valid Until</p>
                    <p>Mineral</p>
                    <p>Minimum Grade</p>
					<p>Investment Type</p>
					<p>Deposit Type</p>
				</div>

				<div class="col-md">
                    <p>{{ cart_request.date_created }}</p>
                    <p>{{ cart_request.valid }}</p>
                    <p>{{ cart_request.mineral }}</p>
                    <p>{{ cart_request.min_grade }} {{ cart_request.grade_unit }}</p>
                    <p>{{ cart_request.invest_type }}</p>
					{% for item in cart_request.deposit_type.all %}
                    <p>{{ item }}</p>
					{% endfor %}
                </div>
			</div>
		</div>
	</div>
</div>
			<br>
			<div id="map" style="height: 400px;"></div>
	<br>