
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md">
            <h5>Created</h5>
            </div>
            <div class="col-md">
            <h5>Field Request</h5>
            </div>
            <div class="col-md">
            <h5>Valid Until</h5>
            </div>
        </div>
		<br>
		{% for field_req in field_request_list %}
		<div class="list_content">
            <div class="list-line"><a class="text-success" href="{% url 'investor/investview/fieldreq/field_activity.html' pk=field_req.id %}">
                <div class="row">
                    <div class="col-md">
                    <p>{{field_req.date_created}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{field_req}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ field_req.period }}</p>
                    </div>
                </div>
                </a>
            </div>
		</div>
		{% endfor %}
	</div>
</div>