	<br>
	<br>
	<br>

<div class="row">
	<div class="col-md-5">
<!--		<div class="card card-body">-->
			<div class="row">
				<div class="col-md">
                    <h5>service.name </h5>
					<hr>
					<h3>{{ service.service }} </h3>
					<h5>{{ service.rating }} </h5>
				</div>
			</div>
			<br>
	</div>

	<div class="col-md-1">
		<div class="date">
		</div>
	</div>
	<div class="col-md-6">
		<div class="card card-body">
			<hr>
			<div class="row">
				<div class="col-md">
					{{ service.summary }}
                </div>
			</div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md">
                </div>
                <div class="col-md">
                </div>
            </div>
		</div>
	</div>

</div>