{% load static %}

<head>
</head>

<div class="banner group">
    <div class="brand">
        <img style="padding: 10px 10px" src="{% static 'images/logo_trans.png' %}">
    </div>
    <div class="row">
    <div class="col-md">
        <div class="logwrapper">
        <div class="nav-bar">
          <div class="dropdown">
          <a class="dropbtn" href="{% url 'services/provider_index.html' %}" ><h5>Home</h5></a>
          </div>
          <div class="dropdown">
          <a class="dropbtn" href="{% url 'services/proview/profile.html' %}" ><h5>Profile</h5></a>
          </div>
          <div class="dropdown">
          <a class="dropbtn"><h5>Field Requests</h5></a>
            <div class="dropdown-content">
              <a class="dropbtn1" href="{% url 'services/proview/fieldreq/list.html' %}">For Bidding</a>
              <a class="dropbtn1" href="{% url 'services/proview/fieldreq/quoted_list.html' %}">Worked On</a>
            </div>
          </div>
          <div class="dropdown">
          <a class="dropbtn" href="{% url 'services/proview/fieldreq/list.html' %}"><h5>Field Activities</h5></a>
          </div>
          <div class="dropdown">
          <a class="dropbtn" href="{% url 'services/proview/accounts.html' %}"><h5>Accounts</h5></a>
          </div>
        {% if user.is_authenticated %}
          <div class="dropdown">
              <a class="dropbtn" href="{% url 'confirm_logout.html' %}"><h5>Log Out</h5></a>
          </div>
        {% else %}
          <div class="dropdown">
              <a class="dropbtn" href="{% url 'logout' %}"><h5>Log In</h5></a>
          </div>
        {% endif %}
        </div>
    </div>
    </div>
    <div class="col-md-2">
        {% if user.is_authenticated %}
                <p class="log">Logged In  : {{ user.username}}</p>
        {% endif %}
    </div>
    </div>
</div>