{% extends 'investor/investor_base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<br>
<br>
<br>
    <div class="row">
        <div class="col-md">
            <div class="card-header">
                {% if mandate_request_list %}
                <div class="row">
                    <div class="col-md">
                        <h4>MANDATE REQUEST STATUS</h4>
                    </div>
                    <div class="col-md">
                        {% for req in mandate_request_list %}
                        {% if req.1.minemandaterequest_set.all.last.status != "Complete" %}
                        <h4>{{req.1.minemandaterequest_set.all.last.status}}</h4>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

       {% include 'investor/info/investview_mine_detail_info.html' %}
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="card-header">
    <div class="row">
        <div class="col-md">
            <a class="btn btn-success btn-block btn-sm" style="width: 100%; " href="{% url 'investor/investview/mine/claims.html' pk=mine.id %}">Mining Claims</a>
        </div>
        <div class="col-md">
            <a class="btn btn-block" style="width: 100%; " ><h5>Reports </h5></a>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            {% if reports.count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{reports_filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md">
<!--									<p>Total Distance:</p>-->
					</div>
					<div class="col-md">
<!--									<p>{{ total_distance }} Kms</p>-->
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="row">
					<div class="col-md">
					<p>Query Count :     </p>
					</div>
					<div class="col-md">
					<p>{{ claim_count }} </p>
					</div>
				</div>
			</div>
		</div>
    <div class="row">
        <div class="col-md-9">
<!--            <h3>Mining Claims</h3>-->
        </div>
        <div class="col-md-3">
            <h3>{{claim_count}}</h3>
        </div>
    </div>
</div>
{% if claim_count != 0 %}
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md">
            <h5>Type</h5>
            </div>
            <div class="col-md">
            <h5>Date</h5>
            </div>
        </div>
		<br>
        {% for claim in reports %}
        <div class="list_content">
            <div class="list-line"><a class="text-success" href="{% url 'investor/investview/mine/report_detail.html' pk=claim.id %}">
                <div class="row">
                    <div class="col-md">
                        <p>{{claim.type}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ claim.report_date }}</p>
                    </div>
                </div>
            </a></div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
<br>
<br>
{% endblock %}

    {% block map_centre %}
<script type="text/javascript">
    var map_view = {{mineloc.lat_long}};
    var zoom = 16
</script>
    {% endblock %}

    {% block java %}
{% include 'map_java/mine_location.html' %}
    {% endblock %}
