{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md">
    <div class="card-header bg-success"><h3>New Syndicate Info ...</h3></div>
    <div>
        <form method="POST" class="corporate-form">{% csrf_token %}
            <br>
            <div class="group-form">
            {{ form|crispy}}
            </div>
            <br>
            <div class="card-footer">
                <div class="row">
                <div class="col-md-6"></div>
                    <div class="col-md">
                        <a class="btn btn-primary  btn-block btn-sm" href="{{ cancel }}">Cancel</a>
                    </div>
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-success btn-block btn-sm" value="Create">Save Request</button>
                    </div>
                </div>
            </div>
            </form>
    </div>
    </div>
</div>
<br>
<div class="row">
    <br>
    <div class="col-md-3">
            <form method="get">
                <div class="row">
                    <div class="form col-md">
                    {{ filter.form|crispy}}
                    </div>
                </div>
<!--                        <div class="col-md-1"></div>-->
                <div class="row">
                    <div class="col-md-6"></div>
                <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
                </div>
            </form>
     </div>
    <div class="col-md">
            <div class="card-header">
                <h3>Syndicates ...</h3>
            <br>
            <div class="row">
                <div class="col-md">
                <h5>Date</h5>
                </div>
                <div class="col-md">
                <h5>Name</h5>
                </div>
                <div class="col-md">
                <h5>Incorp Date</h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-white">
            {% for record in page_obj %}
            <div class="list_content">
                <div class="list-line"><a class="text-success" href="">
                <div class="row">
                    <div class="col-md">
                        <p>{{record.date_created}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{record.name}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{record.dor}}</p>
                    </div>
                </div>
                </a></div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}