{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<br>
<br>

<div class="row">
	<div class="col-md-2"></div>
    <div class="col-md-8">
	    <div class="container">
            <div>
                <div class="card-header bg-success"><h3>Attach Agreement ...</h3></div>
                <br>
                <div class="card-header">
                    <div class="row">
                        <div class="col-md">
                            <p>Player</p>
                        </div>
                        <div class="col-md">
                            <p>{{ player.name }}</p>
                        </div>
                    </div>
                </div>
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
                <div>
                    <form method="POST" class="delivery-request-form" enctype="multipart/form-data">{% csrf_token %}
                        <br>
                        <div class="group-form">
                        {{ form.media }}
                        {{ form|crispy}}
                        </div>
                        <br>
                        <div class="card-footer">
                        <div class="row">
                        <div class="col-md-6"></div>
                            <div class="col-md">
                                <a class="btn btn-primary  btn-block btn-sm" href="{{ cancel }}">Cancel</a>
                            </div>
                            <div class="col-md">
                                <button type="submit" class="btn btn-outline-success btn-block btn-sm" value="Create">Save Request</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}