
<div class="row">
    <div class="col-md">
        <p>Name</p>
        <p>Company Type</p>
        <p>Date of Registration</p>
        <p>Nationality</p>
        <p>Registration Number</p>
        <p>Agents</p>
    </div>
    <div class="col-md">
        <p>{{ corp.name }}</p>
        <p>{{ corp.type }}</p>
        <p>{{ corp.doi }}</p>
        <p>{{ corp.nationality }}</p>
        <p>{{ corp.reg_number }}</p>
        {% for member in corp.corpagentrelation_set.all %}
        <p>{{ member.agent }}</p>
        {% endfor %}
    </div>
</div>