
<div class="row">
    <div class="col-md">
        Name<br>
        Date of Registration<br>
        Nationality<br>
        Registration Number<br>
        Agents<br>
    </div>
    <div class="col-md">
        {{ corp.name }} {{ corp.type }}<br>
        {{ corp.doi }}<br>
        {{ corp.nationality }}<br>
        {{ corp.reg_number }}<br>
        {% for member in corp.corpagentrelation_set.all %}
        {{ member.agent.first_name }} {{ member.agent.last_name }}<br>
        {% endfor %}
    </div>
</div>