{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<br>
<br>
<br>
<br>
<div>
    <div class="card-header">
        <div class="row">
            <div class="col-md">
                <h3>{{field_request}} - Field Proforma ...</h3>
                <div class="row">
                    {% for cost in costs %}
                    <div class="col-md">
                        <p>{{ cost.cost_type }}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ cost.cost }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
    <div>
        <form method="POST" class="player-form">{% csrf_token %}
            <br>
            <div class="group-form">
            {{ form|crispy}}
            </div>
            <br>
            <div class="card-footer">
                <div class="row">
                <div class="col-md-6"></div>
                    <div class="col-md">
                        <a class="btn btn-primary  btn-block btn-sm" href="{{ cancel }}">Cancel</a>
                    </div>
                    <div class="col-md">
                        <button type="submit" class="btn btn-outline-success btn-block btn-sm" value="Create">Save Request</button>
                    </div>
                </div>
            </div>
            </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}