{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

	<br>
	<br>
	<br>

<div class="row">
	<div class="col-md-5">
<!--		<div class="card card-body">-->
			<div class="row">
				<div class="col-md">
                    <h5>Proforma Number </h5>
					<hr>
					<h3>{{ proforma.id }} </h3>
				</div>
			</div>
			<br>
	</div>

	{% if proforma.date_created %}
	<div class="col-md-1">
		<div class="date">
<!--			<h5>{{ driver.date_created }}</h5>-->
		</div>
	</div>
	{% endif%}
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Field Proforma Information</h5>
			<hr>
			<div class="row">
				<div class="col-md">
                    <p>Date</p>
                    <p>Investor</p>
                    <p>Field Request</p>
					<p>Status</p>
					<p>Service Provider Costs</p>
					<p>Suppost Costs</p>
					<p>Admin Premium</p>
                    <p>Total Cost</p>
                </div>

				<div class="col-md">
                    <p>{{ proforma.date_created }}</p>
                    <p><a class="text-success" href="{% url 'player_detail.html' pk=proforma.field_request.mandate.mandate_request.cart_mine_match.cart_request.investor.player.id %}">{{proforma.field_request.mandate.mandate_request.cart_mine_match.cart_request.investor.player}}</a></p>
                    <p><a class="text-success" href="{% url 'investor/field_request_detail_quote.html' pk=proforma.field_request.id %}">{{proforma.field_request.id}}</a></p>
                    <p>{{ proforma.status }}</p>
                    <p>$ {{ proforma.provider_costs }}</p>
                    <p>$ {{ proforma.support_costs }}</p>
                    <p>$ {{ proforma.admin_premium }}</p>
                    <p>$ {{ (proforma.provider_costs + proforma.support_costs) * (1 + proforma.admin_premium/100 }}</p>
                </div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}