{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<br>
<br>
<br>
<br>
<div class="row">
    <br>
    <div class="col-md-3">
        <div class="card-header">
            <form method="get">
                <div class="row">
                    <div class="form col-md">
                    {{ filter.form|crispy}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
                </div>
            </form>
        </div>
     </div>
    <div class="col-md">
            <div class="card-header">
                <h3>Individuals ...</h3>
            </div>
                <div class="card-body bg-white">
                    <table class="table bg-white">
                        <tr>
                            <th>Date of Birth</th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Sex </th>
                            <th>Nationality </th>
                            <th></th>
                        </tr>

<!--                    <div class="lists-line">-->
                    {% for record in filter.qs %}
                        <tr>
                            <td class="list-content">{{record.dob}}</td>
                            <td>{{record.first_name}}</td>
                            <td>{{record.last_name}}</td>
                            <td>{{record.sex}}</td>
                            <td>{{record.nationality}}</td>
                            <th><a href="{% url 'ind_player_new.html' pk=record.id %}">Process</a></th>
                        </tr>
                        </a>
                    {% endfor %}
<!--                    </div>-->
                    </table>
                </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}