<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css'%}">
</head>
<body>
<div  style="background-color: lightgray">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
    <div class="brand">
        <img style="padding: 10px 10px; height: 80px; " src="{% static 'images/logo_trans.png' %}">
    </div>
    </div>
        <div class="col-md-6" style="text-align: right">
            <div style="row">
                <p  style="font-size: 50px;">Mining Connect</p>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <br><br><br><br><br><br>

    <div class="col-md" style="text-align: center">
        <div>
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
            <br><br>
            <div class="card-header bg-success">
                <h3 style="text-align: center; ">Log In</h3>
            </div>
            <div class="card-body bg-white">
                <form action="login" method="post">
               {% csrf_token %}
                    <div style="row">
                        <div style="col-md">
                            <input type="text" name="user_name" placeholder="Username" style="width: 100%; ">
                        </div>
                        <br>
                        <div style="col-md">
                            <input type="password" name="password" placeholder="Password" style="width: 100%;">
                        </div>
                        <br>
                        <div class="row">
                        <div class ="col-md">
                            <input type="submit" class="btn btn-outline-success btn-block btn-sm">
                        </div>
                        <div class ="col-md" style="text-align: right; ">
                            <a href="" >Forgot your password?</a>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div class="col-md"></div>
</div>
    <br>
    <br>
    <div class="row">
</div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>