{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

       {% include 'mine_add_zvinhu.html' %}
<br>

       {% include 'mine_detail_info.html' %}
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<br>
<div class="card-header">
    <div class="row">
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm"  href="{% url 'mine_detail_mine.html' pk=mine.id %}">Claims</a>
        </div>
        {% if cart_match_count %}
        <div class="col-md">
            <a class="btn btn-block" ><h5>Carts</h5></a>
        </div>
        {% endif %}
        {% if mandate_request.count != 0 %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'mine_detail_mandate_req.html' pk=mine.id %}">Mand-Reqs </a>
        </div>
        {% endif %}
        {% if mandate_list.count != 0 %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'mine_detail_mandate.html' pk=mine.id %}">Mandates</a>
        </div>
        {% endif %}
        {% if visit_req_list.count != 0 %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'mine_detail_field_req.html' pk=mine.id %}">Field Reqs</a>
        </div>
        {% endif %}
        {% if visit_list.count != 0 %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'mine_detail_field_visits.html' pk=mine.id %}">Field Visits</a>
        </div>
        {% endif %}
        {% if field_proforma_list.count != 0 %}
        <div class="col-md">
            <a class="btn btn-outline-success btn-block btn-sm" href="{% url 'mine_detail_proforma.html' pk=mine.id %}">Proformas</a>
        </div>
        {% endif %}
        {% if field_invoice_list.count != 0 %}
        <div class="col-md">
            <a class="btn btn-outline-success btn-block btn-sm" href="{% url 'mine_detail_invoice.html' pk=mine.id %}">Field Invoice</a>
        </div>
        {% endif %}
    </div>
        <br>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">

        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if cart_match_count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
</div>
{% if cart_match_count != 0 %}
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md">
            <h5>Created</h5>
            </div>
            <div class="col-md">
            <h5>Cart Request</h5>
            </div>
            <div class="col-md">
            <h5>Valid</h5>
            </div>
        </div>
		<br>
		<div class="list_content">
		{% for claim in filter.qs %}
            <a class="list-line" href="{% url 'investor/cart_request_detail.html' pk=claim.cart.cart_request.id %}">
                <div class="row">
                    <div class="col-md">
                        <p>{{claim.cart.cart_request.date_created}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{claim.cart.cart_request}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ claim.cart.cart_request.valid }}</p>
                    </div>
                </div>
            </a>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}

    {% block map_centre %}
{% include 'map_java/map_centre.html' %}
    {% endblock %}

    {% block java %}
{% include 'map_java/mine_location.html' %}
    {% endblock %}