{% extends 'mine_owner/owner_base.html' %}

{% block content %}

{% load crispy_forms_tags %}

       {% include 'mineview_detail_infoless.html' %}
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="card-header">
    <div class="row">
        {% if mineral_count != 0 %}
        <div class="col-md">
            <a class="btn btn-success btn-block btn-sm" href="{% url 'mineview_production_mineral.html' pk=mine.id %}">Minerals</a>
        </div>
        {% endif %}
        {% if ore_count != 0 %}
        <div class="col-md">
            <a class="btn btn-block ">Ore Production</a>
        </div>
        {% endif %}
        {% if waste_count != 0 %}
        <div class="col-md">
            <a class="btn btn-success btn-block btn-sm" href="{% url 'mineview_production_waste.html' pk=mine.id %}">Waste</a>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            {% if waste_count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md">
            <h5>Beginning</h5>
            </div>
            <div class="col-md">
            <h5>Ending</h5>
            </div>
            <div class="col-md">
            <h5>Mineral</h5>
            </div>
            <div class="col-md">
            <h5>Quantity</h5>
            </div>
        </div>
		<br>
        {% if ore %}
        {% for record in ore %}
        <div class="list_content">
            <div class="list-line">
                <div class="row">
                    <div class="col-md-3">
                        <p>{{record.start_date}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{record.end_date}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{record.mineral}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ record.quantity }} {{ record.unit }}</p>
                    </div>
                </div>
            </div>
		</div>
		{% endfor %}
        {% endif %}
	</div>
</div>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if ore.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ ore.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ ore.number }} of {{ ore.paginator.num_pages }}.
                </span>

                {% if ore.has_next %}
                    <a href="?page={{ ore.next_page_number }}">next</a>
                    <a href="?page={{ ore.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
<br>
<br>
{% endblock %}

    {% block map_centre %}
<script type="text/javascript">
    var map_view = {{mineloc.lat_long}};
    var zoom = 16
</script>
    {% endblock %}

    {% block java %}
{% include 'map_java/mine_location.html' %}
    {% endblock %}