
    <div class="row">
        <div class="col-md">
            <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'mine_plant.html' pk=mine.id %}">Add Plant</a>
        </div>
        <div class="col-md">
        <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'mine_works.html' pk=mine.id %}">Add Works</a>
        </div>
        <div class="col-md">
            <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'mine_production.html' pk=mine.id %}">Add Production</a>
        </div>
        <div class="col-md">
        <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'mine_labour.html' pk=mine.id %}">Add Labour</a>
        </div>
        <div class="col-md">
        <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'mine_yellow_plant.html' pk=mine.id %}">Add Yellow Plant</a>
        </div>
    </div>