{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

       {% include 'player_info.html' %}
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div>
<div class="card-header">
    <div class="row">
        {% if mine_count %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm"  href="{% url 'player_detail_mines.html' pk=player.id %}">Mines</a>
        </div>
        {% endif %}
        {% if investor_status == 'Investor' %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'player_detail_investor.html' pk=player.id %}">Investor </a>
        </div>
        {% endif %}
        {% if service_count %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'player_detail_services.html' pk=player.id %}">Services</a>
        </div>
        {% endif %}
        {% if payment_count %}
        <div class="col-md">
            <a class="btn  btn-block"><h5>Payments</h5></a>
        </div>
        {% endif %}
    </div>
        <br>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if payment_count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{trxn_filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md">
<!--									<p>Total Distance:</p>-->
					</div>
					<div class="col-md">
<!--									<p>{{ total_distance }} Kms</p>-->
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="row">
					<div class="col-md">
					<p>Query Count :</p>
					</div>
					<div class="col-md">
					<p>{{ payment_count }} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% if payment_count != 0 %}
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md">
            <h5>Date Created</h5>
            </div>
            <div class="col-md">
            <h5>Purpose</h5>
            </div>
            <div class="col-md">
            <h5>Credit</h5>
            </div>
            <div class="col-md">
            <h5>Debit</h5>
            </div>
            <div class="col-md">
            <h5>Balance</h5>
            </div>
        </div>
		<br>
		{% for payment in payments %}
		<div class="list_content">
            <div class="list-line"><a class="text-success" href="{% url 'trxn_detail.html' pk=payment.id %}">
                <div class="row">
                    <div class="col-md">
                        <p>{{payment.date_created}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{payment.purpose}}</p>
                    </div>
                    {% if payment.payee == player %}
                    <div class="col-md">
                        <p>{{ payment.amount }}</p>
                    </div>
                    {% else %}
                    <div class="col-md">
                        <p></p>
                    </div>
                    {% endif %}
                    {% if payment.payer == player %}
                    <div class="col-md">
                        <p>{{ payment.amount }}</p>
                    </div>
                    {% else %}
                    <div class="col-md">
                        <p></p>
                    </div>
                    {% endif %}
                    <div class="col-md">
                        <p>{{ payment.balance }}</p>
                    </div>
                </div>
            </a></div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
</div>
<br>
<br>
{% endblock %}