{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

	<br>
	<br>
	<br>

<div class="row">
	<div class="col-md-5">
<!--		<div class="card card-body">-->
			<div class="row">
				<div class="col-md">
                    <h5>Player </h5>
					<hr>
					<h3>{{ player.name }} </h3>
				</div>
			</div>
        </div>

	{% if player.date_created %}
	<div class="col-md-1">
		<div class="date">
<!--			<h5>{{ driver.date_created }}</h5>-->
		</div>
	</div>
	{% endif%}
	<div class="col-md-6">
	</div>
</div>
			<br>
        <div class="row">
            <div class="col-md">
        <div class="card_card-body">
            {% if mine_count == 0 %}
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'mine_owner/add.html' pk=player.id %}">Register as Mine Owner</a>
            </div>
            <br>
            {% endif %}
            {% if investor_status != 'Investor' %}
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'investor/add.html' pk=player.id %}">Register as Investor</a>
            </div>
            <br>
            {% endif %}
            {% if service_count == 0%}
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'services/add_provider.html' pk=player.id %}">Register as Service Provider</a>
            </div>
            <br>
            {% endif %}
        </div>
            </div>
            <div class="col-md"></div>
            <div class="col-md">
        <div class="card_card-body">
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'cash_in.html' pk=player.id %}">Cash In</a>
            </div>
            <br>
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'cash_out.html' pk=player.id %}">Cash Out</a>
            </div>
        </div>
            </div>

        </div>
<br>
<br>
    <div class="card card-body">
        <div class="card-header">
        <h5>Player Information</h5>
        </div>
        <br>
        <div class="row">
        <div class="col-md">
            {% if player.type == 'Individual' %}
            <div class="row">
                <div class="col-md">
                    <p>Sex</p>
                    <p>Date of Birth</p>
                    <p>Nationality</p>
                    <p>Identity Number</p>
                </div>
                <div class="col-md">
                    <p>{{ indi.sex }}</p>
                    <p>{{ indi.dob }}</p>
                    <p>{{ indi.nationality }}</p>
                    <p>{{ indi.nid }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md">
                    <p><a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'individual_edit.html' pk=player.ref %}">Edit</a></p>
                </div>
            </div>
            <br>
            {% elif player.type == 'Syndicate' %}
            <div class="row">
                <div class="col-md">
                    <p>Date of Registration</p>
                    <p>Identity Number</p>
                    <p>Represantatives</p>
                </div>
                <div class="col-md">
                    <p>{{ synd.dor }}</p>
                    <p>Members:</p>
                    {% for member in syndicate.syndmemberrelation_set.all %}
                    {{ member.member }}
                    {% endfor %}
                    <p>Agents:</p>
                    {% for member in syndicate.syndagentrelation_set.all %}
                    {{ member.agent }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md">
                    <p><a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'syndicate_edit.html' pk=synd.id %}">Edit</a></p>
                </div>
            </div>
            <br>
            {% else %}
            <div class="row">
                <div class="col-md">
                    <p>Company Type</p>
                    <p>Date of Registration</p>
                    <p>Nationality</p>
                    <p>Registration Number</p>
                    <p>Agents</p>
                </div>
                <div class="col-md">
                    <p>{{ corp.type }}</p>
                    <p>{{ corp.doi }}</p>
                    <p>{{ corp.nationality }}</p>
                    <p>{{ corp.reg_number }}</p>
                    {% for member in corp.corpagentrelation_set.all %}
                    <p>{{ member.agent }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md">
                    <p><a class="btn btn-outline-success  btn-block btn-sm"  href="{% url 'corporate_edit.html' pk=corp.id %}">Edit</a></p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md">
        <div class="row">
            <div class="col-md">
                <p>Type</p>
                <p>Phone Number</p>
                <p>Email</p>
                <p>Bank</p>
                <p>Bank Account</p>
                <p>Trxn Balance</p>
                <p>Street Address</p>
                <p>Surburb</p>
                <p>Town/City</p>
                <p>Country</p>
<!--                    <p>Investor Status</p>-->
            </div>

            <div class="col-md">
                <p>{{ player.type }}</p>
                <p>{{ player.phone_number }}</p>
                <p>{{ player.email }}</p>
                <p>{{ player.bank }}</p>
                <p>{{ player.bank_account }}</p>
                <p>{{ player.trxn_balance }}</p>
                <p>{{ player.street_address }}</p>
                <p>{{ player.suburb }}</p>
                <p>{{ player.city }}</p>
                <p>{{ player.country }}</p>
<!--                    <p>{{ investor_status }}</p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md">
            </div>
            <div class="col-md">
                <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_edit.html' pk=player.id %}">Update</a>
            </div>
<!--                <div class="col-md">-->
<!--                    <a class="btn btn-danger  btn-block btn-sm" href="">Delete</a>-->
<!--                </div>-->
        </div>
        </div>
        </div>
    </div>
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div>
<div class="card-header">
    <div class="row">
        {% if mine_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_mines.html' pk=player.id %}">Mines</a>
        </div>
        {% endif %}
        {% if investor_status == 'Investor' %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_investor.html' pk=player.id %}">Investor </a>
        </div>
        {% endif %}
        {% if service_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_services.html' pk=player.id %}">Services</a>
        </div>
        {% endif %}
        {% if payment_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_payments.html' pk=player.id %}">Payments</a>
        </div>
        {% endif %}
        {% if receipts_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_receipts.html' pk=player.id %}">Receipts</a>
        </div>
        {% endif %}
    </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}