{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

    {% block button %}
<style>

/* Style The Archive Button */
.archivebtn {
  width: 100%;
  cursor: pointer;
}
/* Style The archive Button */
.archive {
  min-width: 100%;
  cursor: pointer;
}

/* The container div - needed to position the archive content */
.archive {
  position: relative;
  display: inline-block;
}

/* Archive Content (Hidden by Default) */
.archive-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.archive-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

/* Show the dropdown menu on hover */
.archive:hover .archive-content {
  display: block;
}
</style>
    {% endblock %}
	<br>
	<br>
	<br>

<div class="row">
	<div class="col-md-5">
<!--		<div class="card card-body">-->
			<div class="row">
				<div class="col-md">
<!--					<h3>{{ player.name }} </h3>-->
				</div>
			</div>
        </div>

	{% if player.date_created %}
	<div class="col-md-1">
		<div class="date">
<!--			<h5>{{ driver.date_created }}</h5>-->
		</div>
	</div>
	{% endif%}
	<div class="col-md-6">
	</div>
</div>
			<br>
        <div class="row">
            <div class="col-md">
        <div class="card_card-body">
            {% if mine_count == 0 %}
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'mine_owner/add.html' pk=player.id %}">Register as Mine Owner</a>
            </div>
            <br>
            {% endif %}
            {% if investor_status != 'Investor' %}
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'investor/add.html' pk=player.id %}">Register as Investor</a>
            </div>
            <br>
            {% endif %}
            {% if service_count == 0%}
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'services/add_provider.html' pk=player.id %}">Register as Service Provider</a>
            </div>
            <br>
            {% endif %}
        </div>
            </div>
            <div class="col-md"></div>
            <div class="col-md">
        <div class="card_card-body">
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'cash_in.html' pk=player.id %}">Cash In</a>
            </div>
            <br>
            <div class="col-md">
                <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'cash_out.html' pk=player.id %}">Cash Out</a>
            </div>
            <br>
		<div class="col-md">
			<div class="archive">
			<a class="archivebtn btn btn-outline-success  btn-block btn-sm">Add Record</a>
				<div class="archive-content">
					<a class="btn btn-outline-danger  btn-block btn-sm" href="{% url 'add_letter' pk=player.id %}">Letter</a>
					<a class="btn btn-outline-danger  btn-block btn-sm" href="{% url 'add_agreement' pk=player.id %}">Agreement</a>
					<a class="btn btn-outline-danger  btn-block btn-sm" href="{% url 'add_receipt' pk=player.id %}">Receipt</a>
					<a class="btn btn-outline-danger  btn-block btn-sm" href="{% url 'add_other_doc' pk=player.id %}">Other</a>
				</div>
			</div>
		</div>
        </div>
            </div>

        </div>
<br>
<br>
    <div class="card card-body">
        <div class="card-header">
					<h3>{{ player.name }} </h3>
        </div>
        <br>
        <div class="row">
        <div class="col-md">
            {% if player.type == 'Individual' %}
            <div class="row">
                <div class="col-md">
                    <p>Sex</p>
                    <p>Date of Birth</p>
                    <p>Nationality</p>
                    <p>Identity Number</p>
                </div>
                <div class="col-md">
                    <p>{{ indi.sex }}</p>
                    <p>{{ indi.dob }}</p>
                    <p>{{ indi.nationality }}</p>
                    <p>{{ indi.nid }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md">
<!--                    <p><a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'individual_edit.html' pk=player.ref %}">Edit</a></p>-->
                </div>
            </div>
            <br>
            {% elif player.type == 'Syndicate' %}
            <div class="row">
                <div class="col-md">
                    Date of Registration<br>
                    Represantatives<br>
                </div>
                <div class="col-md">
                    {{ synd.dor }}<br>
                    Members:<br>
                    {% for member in synd.syndmemberrelation_set.all %}
                    {{ member.member }}<br>
                    {% endfor %}
                    Agents:<br>
                    {% for member in synd.syndagentrelation_set.all %}
                    {{ member.agent.first_name }} {{ member.agent.last_name }}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md">
<!--                    <p><a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'syndicate_edit.html' pk=synd.id %}">Edit</a></p>-->
                </div>
            </div>
            <br>
            {% else %}
            <div class="row">
                <div class="col-md">
                    Company Type<br>
                    Date of Registration<br>
                    Nationality<br>
                    Registration Number<br>
                    Agents<br>
                </div>
                <div class="col-md">
                    {{ corp.type }}<br>
                    {{ corp.doi }}<br>
                    {{ corp.nationality }}<br>
                    {{ corp.reg_number }}<br>
                    {% for member in corp.corpagentrelation_set.all %}
                    {{ member.agent.first_name }} {{ member.agent.last_name }}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md">
<!--                    <p><a class="btn btn-outline-success  btn-block btn-sm"  href="{% url 'corporate_edit.html' pk=corp.id %}">Edit</a></p>-->
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md">
        <div class="row">
            <div class="col-md">
                Type<br>
                Phone Number<br>
                Email<br>
                Bank<br>
                Bank Account<br>
                Trxn Balance<br>
                Address<br>
            </div>

            <div class="col-md">
                {{ player.type }}<br>
                {{ player.phone_number }}<br>
                {{ player.email }}<br>
                {{ player.bank }}<br>
                {{ player.bank_account }}<br>
                $ {{ player.trxn_balance }}<br>
                {{ player.street_address }}<br>
                {{ player.suburb }}<br>
                {{ player.city }}<br>
                {{ player.country.country }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md">
            </div>
            <div class="col-md">
<!--                <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_edit.html' pk=player.id %}">Update</a>-->
            </div>
        </div>
        </div>
        </div>
    </div>
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div>
<div class="card-header">
    <div class="row">
        {% if mine_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_mines.html' pk=player.id %}">Mines</a>
        </div>
        {% endif %}
        {% if investor_status == 'Investor' %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_investor.html' pk=player.id %}">Investor </a>
        </div>
        {% endif %}
        {% if service_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_services.html' pk=player.id %}">Services</a>
        </div>
        {% endif %}
        {% if payment_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_payments.html' pk=player.id %}">Payments</a>
        </div>
        {% endif %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_archive' pk=player.id %}">Archive</a>
        </div>
        {% if receipts_count %}
        <div class="col-md">
            <a class="btn btn-outline-success  btn-block btn-sm" href="{% url 'player_detail_receipts.html' pk=player.id %}">Receipts</a>
        </div>
        {% endif %}
    </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}