
<div class="row">
    <div class="col-md">
        Phone Number<br>
        Email<br>
        Bank<br>
        Bank Account<br>
        Trxn Balance<br>
        Address<br>
    </div>
    <div class="col-md">
        {{ player.phone_number }}<br>
        {{ player.email }}<br>
        {{ player.bank }}<br>
        {{ player.bank_account }}<br>
        $ {{ player.trxn_balance }}<br>
        {{ player.street_address }}<br>
        {{ player.suburb }}<br>
        {{ player.city }}<br>
        {{ player.country.country }}
    </div>
</div>