
<br>
<br>
<div class="row">
    <br>
    <div class="col-md">
            <div class="card-header">
                <h3>Rates ...</h3>
            </div>
                <div class="card-body bg-white">
                    <div class="row">
                        <div class="col-md">
                            <h5>Description</h5>
                        </div>
                        <div class="col-md">
                            <h5>Amount</h5>
                        </div>
                    </div>

                    {% for record in rates %}
                    <div class="list-line">
                        <div class="list-content"><a
                                href="{% url 'receipt_detail.html' pk=record.id %}">

                        <div class="row">
                            <div class="col-md">
                                <p>{{record.purpose}} {{record.sub}} {{record.periob}}</p>
                            </div>
                            <div class="col-md">
                                <p>{{record.amount}}</p>
                            </div>
                        </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>