{% extends 'investor/investor_base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<br>
<br>
<br>
<div class="row">
    <br>
    <div class="col-md-3">
            <form method="get">
                <div class="row">
                    <div class="form col-md">
                    {{ filter.form|crispy}}
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
                </div>
            </form>
     </div>
    <div class="col-md">
        <div class="card-header">
            <h3>Cart Items</h3>
            <br>
            <div class="row">
                <div class="col-md">
                <h5>Date</h5>
                </div>
                <div class="col-md">
                <h5>Investment Type</h5>
                </div>
                <div class="col-md">
                <h5>Mineral</h5>
                </div>
                <div class="col-md">
                <h5>Valid</h5>
                </div>
            </div>
        </div>
        <div class="card-body bg-white">
            {% for record in page_obj %}
            <div class="list_content">
                <div class="list-line"><a class="text-success" href="{% url 'investor/investview/cart_request_detail.html' pk=record.id %}">
                    <div class="row">
                        <div class="col-md">
                        <p>{{record.date_created}}</p>
                        </div>
                        <div class="col-md">
                        <p>{{record.invest_type}}</p>
                        </div>
                        <div class="col-md">
                        <p>{{record.mineral}}</p>
                        </div>
                        <div class="col-md">
                        <p>{{record.valid}}</p>
                        </div>
                    </div>
                </a></div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}