{% extends 'investor/investor_base.html' %}

{% block content %}

{% load crispy_forms_tags %}

       {% include 'investor/info/investview_cart_req.html' %}
<br>
<div class="card-header">
    <div class="row">
        <div class="col-md">
            <a class="btn  btn-block" ><h5>Mandate Requests</h5></a>
        </div>
        {% if mandate_list %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'investor/investview/cart/mandates.html' pk=cart_request.id %}">Mandates </a>
        </div>
        {% endif %}
        {% if field_request_list %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'investor/investview/cart/services.html' pk=cart_request.id %}">Field Requests</a>
        </div>
        {% endif %}
        {% if activities %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'investor/investview/cart/field_activity.html' pk=cart_request.id %}">Field Activity</a>
        </div>
        {% endif %}
    </div>
        <br>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if mandate_count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{mandate_filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
</div>

       {% include 'investor/lists/mandate_request_face.html' %}

<br>
<br>
{% endblock %}