{% extends 'investor/investor_base.html' %}

{% block content %}

{% load crispy_forms_tags %}

       {% include 'investor/info/investview_mandate_request.html' %}
<br>
<div class="card-header">
    <div class="row">
        <div class="col-md">
            <a class="btn btn-success btn-block btn-sm" href="{% url 'investor/investview/mandate_request/services.html' pk=mandate_request.id %}">Field Requests</a>
        </div>
        {% if activities  %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'investor/investview/mandate_request/field_activity.html' pk=mandate_request.id %}">Field Activity</a>
        </div>
        {% endif %}
        {% if quote_count %}
        <div class="col-md">
            <a class="btn btn-block"><h5>Field Quotes</h5></a>
        </div>
        {% endif %}
    </div>
        <br>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if quote_count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{provider_filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
</div>
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md">
            <h5>Created</h5>
            </div>
            <div class="col-md">
            <h5>Service Provider</h5>
            </div>
            <div class="col-md">
            <h5>Amount</h5>
            </div>
            <div class="col-md">
            <h5>Status</h5>
            </div>
        </div>
		<br>
		{% for quote in provider_filter.qs %}
		<div class="list_content">
            <div class="list-line"><a class="text-success" href="{% url 'investor/investview/quote_detail.html' pk=quote.id %}">
                <div class="row">
                    <div class="col-md">
                    <p>{{quote.date_created}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ quote.provider }}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ quote.cost }}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ quote.status }}</p>
                    </div>
            </div>
            </a></div>
		</div>
		{% endfor %}
	</div>
</div>
<br>

<br>
<br>
{% endblock %}