{% extends 'investor/investor_base.html' %}

{% block content %}

{% load crispy_forms_tags %}

       {% include 'player_info.html' %}
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div>
<div class="card-header">
    <div class="row">
        {% if mine_count %}
        <div class="col-md">
            <a class="btn  btn-block" ><h5>Mines</h5></a>
        </div>
        {% endif %}
        {% if investment_status == 'Investor' %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'player_detail_investor.html' pk=player.id %}">Investor </a>
        </div>
        {% endif %}
        {% if service_count %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'player_detail_services.html' pk=player.id %}">Services</a>
        </div>
        {% endif %}
        {% if payment_count %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'player_detail_payments.html' pk=player.id %}">Payments</a>
        </div>
        {% endif %}
        {% if receipts_count %}
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'player_detail_receipts.html' pk=player.id %}">Receipts</a>
        </div>
        {% endif %}
    </div>
        <br>
    <div class="row">
        <div class="col-md">
<!--            <a class="btn btn-outline-success btn-sm btn-block" href="">Request Trip</a>-->
        </div>
        <div class="col-md">
<!--        <a class="btn btn-outline-success btn-sm btn-block" href="">Get Lift</a>-->
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if mine_count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{cart_filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
</div>
<div class="card-header bg-success">
		<div class="row">
			<div class="col-md-3">
<!--								<a class="btn btn-primary btn-sm btn-block" href="{% url 'mytrip_request.html' %}">New Trip Request</a>-->
			</div>
			<div class="col-md-3">
<!--                            <a class="btn btn-primary btn-sm btn-block" href="{% url 'get_a_lift.html'%}">Get Lift</a>-->
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md">
<!--									<p>Total Distance:</p>-->
					</div>
					<div class="col-md">
<!--									<p>{{ total_distance }} Kms</p>-->
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="row">
					<div class="col-md">
					<p>Query Count :</p>
					</div>
					<div class="col-md">
					<p>{{ mine_count }} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% if mine_count != 0 %}
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md-2">
            <h5>Date Created</h5>
            </div>
            <div class="col-md-2">
            <h5>Investment Type</h5>
            </div>
            <div class="col-md-2">
            <h5>Mineral</h5>
            </div>
            <div class="col-md-2">
            <h5>Valid</h5>
            </div>
            <div class="col-md-4">
            <h5>Resource Size</h5>
            </div>
        </div>
		<br>
		<div class="list_content">
		{% for claim in carts %}
            <div class="list-line">
                <div class="row"><a href="{% url 'investor/cart_request_detail.html' pk=claim.id %}">
                    <div class="col-md-2">
                        <p>{{claim.date_created}}</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{claim.invest_type}}</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ claim.mineral }}</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{ claim.valid }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{ claim.valid }} {{ claim.resource_unit }}</p>
                    </div>
                </a></div>
            </div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
</div>
<br>
<br>
{% endblock %}