{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

       {% include 'investor/info/fieldreq_detail.html' %}
    <br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="card-header">
    <div class="row">
        <div class="col-md">
            <a class="btn btn-success  btn-block btn-sm" href="{% url 'investor/field_request_detail.html' pk=field_request.id %}">Field Activity</a>
        </div>
        <div class="col-md">
            <a class="btn  btn-block"><h5>Field Quotes</h5></a>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if quote_count > 5 %}
<!--						<div class="card card-body">-->
                <form method="get">

                    {{quote_filter.form|crispy}}

                <button class="btn btn-outline-success btn-sm " type="submit">Search</button>
                </form>
<!--						</div>-->
            {% endif %}
        </div>
    </div>
</div>
<div class="card-body bg-white">
	<div class="col-md">
		<div class="row">
            <div class="col-md">
            <h5>Created</h5>
            </div>
            <div class="col-md">
            <h5>Service</h5>
            </div>
            <div class="col-md">
            <h5>Service Provider</h5>
            </div>
            <div class="col-md">
            <h5>Amount</h5>
            </div>
            <div class="col-md">
            <h5>Status</h5>
            </div>
        </div>
		<br>
		{% for quote in quote_list %}
		<div class="list_content">
            <div class="list-line"><a class="text-success" href="{% url 'quote_detail.html' pk=quote.id %}">
                <div class="row">
                    <div class="col-md">
                    <p>{{field_request.date_created}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ field_request.service }}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ quote.provider }}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ quote.cost }}</p>
                    </div>
                    <div class="col-md">
                        <p>{{ field_request.status }}</p>
                    </div>
                </div>
            </a></div>
		</div>
		{% endfor %}
	</div>
</div>
<br>
<br>
{% endblock %}