{% extends 'investor/investor_base.html'%}

{% block content %}

{% load crispy_forms_tags %}

	<br>
	<br>
	<br>

<div class="row">
	<div class="col-md-5">
<!--		<div class="card card-body">-->
			<div class="row">
				<div class="col-md">
                    <h5>Investor</h5>
					<hr>
					<h3>{{ request.user.playeruserrelation_set.all.last.player }} </h3>
				</div>
			</div>
			<br>
	</div>

	<div class="col-md-1">
		<div class="date">
<!--			<h5>{{ driver.date_created }}</h5>-->
		</div>
	</div>
	<div class="col-md-6">
	</div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div style="text-align: center">
        {% for message in messages %}
        <h3 class="text-danger alignment: centre">{{ message }}</h3>
        {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="card-header">
    <div class="row">
        {% for mine in mines %}
            <div class="col-md">
            </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-5">
<!--		<div class="card card-body">-->
			<br>
	</div>

	<div class="col-md-1">
		<div class="date">
<!--			<h5>{{ driver.date_created }}</h5>-->
		</div>
	</div>
	<div class="col-md-6">
		<div class="card card-body">
			<h5>News</h5>
			<hr>
            {% for item in news %}
			<div class="row">
                <a class="text-success" href="{{item.url}}"><p>{{ item }}</p></a>
			</div>
            {% endfor %}
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}