{% extends 'investor/base_claim_map.html' %}

{% block head %}
<style>
.expand{
    position:absolute;
    top:115px;
    right:50px;
    z-index: 1000;
}
</style>
{% endblock %}

{% block content %}

{% load leaflet_tags %}

{% load crispy_forms_tags %}

    <div class="card-header">
        <div class="row">
            <div class="col-md">
                <h3>Mining Claim </h3>
            </div>
            <div class="col-md">
                <h3>{{ claim.name }} </h3>
            </div>
        </div>
    </div>
    <a class="expand" href="{{cancel}}"><i class="fa-solid fa-compress" style="font-size:30px;color:success;"></i></a>
    <div>
        <div id="map" style="height: 620px; "></div>
    </div>
<br>
<br>
{% endblock %}

{% block overlaymaps %}
<script type="text/javascript">
    var mineBoundaryJson = {{poly.location.geojson|safe}};
    var claimPolyLayer = L.geoJSON(mineBoundaryJson).
    layerControl.addOverlay(claimPolyLayer, "ClaimBoundary");
</script>
{% endblock %}

    {% block map_centre %}
<script type="text/javascript">
{% if mineloc %}
    var map_view = {{mineloc.lat_long}};
    {% else %}
    var map_view = [-17.824858, 31.053028];
{% endif %}
    var zoom = 13;
</script>
    {% endblock %}

    {% block java %}
<script type="text/javascript">
    var mineBoundaryJson = {{poly.location.geojson|safe}};
    var claimPolyLayer = L.geoJSON(mineBoundaryJson).addTo(map)
</script>
    {% endblock %}